{% extends 'nav.html' %} {% block content %}
<br><br>

<div style="text-align: center; width: 755px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:50px; width: fit-content;">

        <div>
            <img src="/static/blankets/na.jpg"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>N/A</h2><br>
            <h3>Price: 200$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky blanket made with <br> 40% wool and 60% acrylic.
            </p> 
        </div>
        <div>
            <img src="/static/blankets/na.jpg"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>N/A</h2><br>
            <h3>Price: 200$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky blanket made with <br> 40% wool and 60% acrylic.  
            </p> 
        </div>

    </div>
</div>

<br><br>
    {% include 'footer.html' %}

    {% endblock %}