{% extends 'nav.html' %} {% block content %}
<br><br>

<div style="text-align: center; width: 1000px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:55px; width: fit-content;">

        <div>
            <img src="/static/blankets/1.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>White Knitted Blanket</h2><br>
            <h3>Price: 400$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky blanket<br> made with  40% wool and 60% acrylic.
            </p> 
        </div>
        <div>
            <img src="/static/blankets/3.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Grey Knitted Blanket</h2><br>
            <h3>Price: 400$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky blanket <br>made with  40% wool and 60% acrylic.  
            </p> 
        </div>
        <div>
            <img src="/static/blankets/4.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Mustard Knitted Blanket</h2><br>
            <h3>Price: 400$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky blanket <br>made with  40% wool and 60% acrylic.  
            </p> 
        </div>

    </div>
</div>

<br><br>
    {% include 'footer.html' %}

    {% endblock %}