{% extends 'nav.html' %} {% block content %}

<br><br>

<div style="text-align: center; width: 1200px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:50px">

        <div>
            <img src="/static/gloves/1.jpg"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Gold and Red Knitted Gloves</h2><br>
            <h3>Price: 25$</h3><br>
            <p>Description: <br>
                Handmade knitted gloves made with 100% acrylic.
            </p> 
        </div>
        <div>
            <img src="/static/gloves/2.jpg"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Purple Knitted Gloves</h2><br>
            <h3>Price: 25$</h3><br>
            <p>Description: <br>
                Handmade knitted gloves made with 100% acrylic.  
            </p> 
        </div>
        <div>
            <img src="/static/gloves/3.jpg"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Grey Knitted Gloves</h2><br>
            <h3>Price: 25$</h3><br>
            <p>Description: <br>
                Handmade knitted gloves made with 100% acrylic.  
            </p>     
        </div>

    </div>
</div>

<br><br><br>

{% include 'footer.html' %}

 {% endblock %}