{% extends 'nav.html' %} {% block content %}


<div style="text-align: center; width: 1200px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:50px">

        <div>
            <img src="/static/hats/IMG_1778.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>White and Grey Knitted Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky hat with <br> 40% wool and 60% acrylic.
            </p> 
        </div>
        <div>
            <img src="/static/hats/IMG_1130.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Pink and Grey Knitted Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky hat with <br> 40% wool and 60% acrylic.  
            </p> 
        </div>
        <div>
            <img src="/static/hats/IMG_2410.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Pink and Dark Grey Knitted Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade knitted chunky hat with <br> 40% wool and 60% acrylic.  
            </p>     
        </div>

    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:50px">

        <div>
            <img src="/static/hats/IMG_3114.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Pink Briaded Knitted Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade knitted braided hat <br> made from 100% acrylic.
            </p> 
        </div>
        <div>
            <img src="/static/hats/IMG_1781.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Gryffindor Logo Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade Gryffindor logo knitted hat <br> made from 100% acrylic.  
            </p> 
        </div>
        <div>
            <img src="/static/hats/IMG_3111.JPG"  style="width: 300px;height: 370px ; padding: 25px;" >
            <h2>Superman Logo Knitted Hat</h2><br>
            <h3>Price: 50$</h3><br>
            <p>Description: <br>
                Handmade Superman logo knitted hat <br> made from 100% acrylic.            
            </p>     
        </div>

    </div>

</div>
<br><br>

{% include 'footer.html' %}

 {% endblock %}