{% extends 'nav.html' %} {% block content %}

<div style="text-align: center; width: 1300px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; padding:50px">

        {% for x in data %}

            <div>
                <img src="/static/{{ x.category }}/{{ x.picture }}"  style="width: 300px;height: 370px ; padding: 25px;" >
                <h2>{{ x.name }}</h2>
                <h3>{{ x.price }}$</h3>
                    <div style="width: 400px;">
                    <p>Description: <br>
                        {{ x.desc}}
                    </p> 
                    </div>
                <br>
            </div>
            


        {% endfor %}
    
    </div>





</div>
<br><br>

{% include 'footer.html' %}

 {% endblock %}


