{% extends 'nav.html' %} {% block content %}

<div style="text-align: center; width: 700px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">

    <div style="display: flex; flex-direction: row; justify-content: space-between; width: fit-content; padding: 25px; ">
        <div>
            <img src="/static/hats/6.JPG"  style="width: 325px;height: 370px ; padding: 25px;" > 
            <a href="/shop/hats"><h2>Shop Hats</h2></a>
        </div>
        <div>
            <img src="/static/gloves/3.JPG"  style="width: 325px;height: 370px ; padding: 25px;" >
            <a href="/shop/gloves"><h2>Shop Gloves</h2></a>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between; width: fit-content; padding: 25px;">
        <div>
            <img src="/static/sweaters/3.JPG"  style="width: 325px;height: 370px ; padding: 25px;" > 
            <a href="/shop/sweaters"><h2>Shop Sweaters</h2></a>
        </div>
        <div>
            <img src="/static/blankets/3.JPG"  style="width: 325px;height: 370px ; padding: 25px;" >
            <a href="/shop/blankets"><h2>Shop Blankets</h2></a>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: fit-content; padding: 25px;">
        <div>
            <img src="/static/scarves/2.JPG"  style="width: 325px;height: 370px ; padding: 25px;" > 
            <a href="/shop/scarves"><h2>Shop Scarves</h2></a>
        </div>
    </div>
</div>

<br><br>

{% include 'footer.html' %}

 {% endblock %}