{% extends 'nav.html' %} {% block content %}


<img src="/static/needles.jpg" style="border-radius:60%; max-width: 350px; height:auto; display: block; margin: auto;"> <br><br>

<div style="text-align: center; width: 800px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">
<h1>About the Owner</h1><br>
<p style="font-size: 25px;">
    Hi! My name is Mihaela and I love to knit. I was born in Romania and I immigrated to Canada in 2003. I started knitting about 3 years ago.
    I first started with crocheting and I found it was really limiting in the projects you could create. So I learned knitting from a friend
    and I haven't stopped knitting ever since. 
    <br><br>
    My favourite projects to knit are hats! I really enjoy adding different designs like logos and crests. Really makes the project stand out.
    <br><br>
    Everthing you see on the site is made by hand so shipping times/available items vary. Please dont hesitate to reach us at our email with
    any questions.
    <br><br>
    Thank you for stopping by my site and hopefully you find something here that you enjoy! :)
    <br><br>

</p>
</div>
<br><br>
{% include 'footer.html' %}

 {% endblock %}