
<div style="display: flex; flex-direction: row; justify-content: space-between; 
            background-color: rgb(252, 252, 252 , 0.8); width: 100%; padding: auto; padding-bottom: 20px;">

    <div style=" text-align: center; padding-left: 30px">
      <h1>COMPANY</h1>
      <a href="/about"><h3>About Us</h3></a>
      <a href="/policy"><h3>Privacy Policy</h3></a>
    </div>
    
    <div  style="text-align: center;">
      <h1>CUSTOMER SERVICE</h1>
      <a href="/service/contact"><h3>Contact US</h3></a>
      <a href="/service/shipping"><h3>Shipping Info</h3></a>


    </div>
    
    <div style="padding-right: 20px;">
      <p>2021, Miha's Knitted Goods</p>
    </div>
</div>
