

<!-- <div style="display: flex; flex-direction: row; justify-content: space-between; bottom:0px; position:absolute; -->

<div style="display: flex; flex-direction: row; justify-content: space-between; 
            background-color: rgb(252, 252, 252 , 0.8); width: 100%; padding: auto;">

    <div style=" text-align: center; padding-left: 30px">
      <h1>COMPANY</h1>
      <h3>About Us</h3>
      <h3>Privacy Policy</h3>
    </div>
    
    <div  style="text-align: center;">
      <h1>CUSTOMER SERVICE</h1>
      <h3>Contant US</h3>
      <h3>Shipping Info</h3>


    </div>
    
    <div style="padding-right: 20px;">
      <p>2021, Miha's Knitted Goods</p>
    </div>
</div>