{% extends 'nav.html' %} {% block content %}


<br><br><br><br><br>

<h2 style="text-align:center ; color:aliceblue ; text-shadow: 1px 1px purple;"><b>Slideshow Gallery</b></h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 7</div>
        <img src="/static/hats/IMG_1781.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">2 / 7</div>
        <img src="/static/hats/IMG_2410.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">3 / 7</div>
        <img src="/static/hats/IMG_3114.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">4 / 7</div>
        <img src="/static/scarves/IMG_0409.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 7</div>
        <img src="/static/scarves/IMG_1784.jpg" style="width:100%">
      </div>
        

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    
      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/hats/IMG_1781.jpg" style="width:100%" onclick="currentSlide(1)" alt="Kai'sa teaching the girls the dances">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/hats/IMG_2410.jpg" style="width:100%" onclick="currentSlide(2)" alt="KDA taking a much needed break">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/hats/IMG_3114.jpg" style="width:100%" onclick="currentSlide(3)" alt="KDA arriving at Shanhai Airport">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/scarves/IMG_0409.jpg" style="width:100%" onclick="currentSlide(4)" alt="Out on the town of Shanhai">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/scarves/IMG_1784.jpg" style="width:100%" onclick="currentSlide(5)" alt="Promotional work in magazines">
        </div>    
      </div>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demo");
          var captionText = document.getElementById("caption");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          captionText.innerHTML = dots[slideIndex-1].alt;
        }
        </script> 

    <br>


    {% endblock %}



{% include 'footer.html' %}

