<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/kdaicon.jpg" /> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/style.css">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link href='https://fonts.googleapis.com/css?family=Give You Glory' rel='stylesheet'>
</head>


<body>

<div id="container" style="display: flex; flex-direction: row; justify-content: space-between; 
                            position: fixed;top: 0;width: 100%; padding: auto;">
        
            
     <div class="dropdown">
        <i class="material-icons" style="font-size: 55px; margin-left: 10px; margin-top: 5px;">menu</i>
            <div class="dropdown-content">       
                    <ul>
                        
                        <a href="/"><li>Home</li></a>
                        <li><a href="/shop">Shop</a>
                            <ul>
                                <a href="/shop/hats"><li>Shop Hats</li></a>
                                <a href="/shop/gloves"><li>Shop Gloves</li></a>
                                <a href="/shop/sweaters"><li>Shop Sweaters</li></a>
                                <a href="/shop/blankets"><li>Shop Blankets</li></a>
                                <a href="/shop/scarves"><li>Shop Scarves</li></a>
                            </ul>
                        </li>
                        <a href="/service/contact"><li>Contact Us</li></a>
                        <a href="/account"><li>My Account</li></a>
                        <a href="/account/loginform"><li>Login</li></a>
                        <a href="/account/form"><li>Register</li></a>
                    </ul>
            </div> 


    </div>

    <div>
        <h1 style="font-size: 42px;">&nbsp;&nbsp;&nbsp; {{ value }} </h1>
    </div>

    <div>
        <a href="/account"><i class="material-icons" style="font-size: 55px; margin-top: 5px;">perm_identity</i></a>
        <i class="material-icons" style="font-size: 55px; margin-top: 5px;">search</i>
        <i class="material-icons" style="font-size: 55px; margin-top: 5px; margin-right: 10px;">shopping_cart</i>
    </div>

</div>
<br><br><br>


{% block content %}


{% endblock %}

</body>
</html>