<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/kdaicon.jpg" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>

<div class= "d-flex justify-content-between" style="position: fixed;top: 0;width: 100%; padding: auto;">

    <div class="dropdown">
        <i class="material-icons" style="font-size: 45px; margin-left: 10px; margin-top: 5px;">menu</i>
    
        <div class="dropdown-content">
            <a class="dropdown-item" href="#"> Home </a>  
            <a class="dropdown-item" href="#">Contact </a>
            <a class="dropdown-item" href="#"> Notifications </a>  
            <a class="dropdown-item" href="#"> Setting </a> 
        </div>
        
    </div>

    <div>
        <h1>Miha's Knitted Goods</h1>
    </div>

    <div>
        <i class="material-icons" style="font-size: 45px; margin-top: 5px;">perm_identity</i>
        <i class="material-icons" style="font-size: 45px; margin-top: 5px;">search</i>
        <i class="material-icons" style="font-size: 45px; margin-top: 5px; margin-right: 10px;">shopping_cart</i>
    </div>

</div>

</body>
<br><br><br><br><br>






