{% extends 'nav.html' %} {% block content %}
<br><br>
<div style="text-align: center; width: 800px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">
<br>
<h1><b>REGISTER</b></h1><br><br>

    <div style="font-size: 22px;">

    <form action="/account/register" method="POST">
        <label for="name">Email:</label><br>
        <input type="text" name="email" value="" style="width: 400px;"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" value=""style="width: 400px; height: 40px;"><br><br>
        <label for="password">Re-Enter Password:</label><br>
        <input type="password" name="password1" value="" style="width: 400px; height: 40px;"><br><br>
        <input type="submit" value="Register"><br><br>

    </form>
    </div>
    <h1>If you need to Login please click link below</h1><br>
    <a href="/account/loginform"><h2>Login Page</h2></a><br>
</div>

<br><br><br><br>
{% include 'footer.html' %}

{% endblock %}