{% extends 'nav.html' %} {% block content %}

<div style="text-align: center; width: 1200px; margin: auto; background-color: rgb(252, 252, 252 , 0.8);">
    <p style="font-size: 25px;">
        All items are shipped standard Priority Mail with Canada post (within Canada) and Small Packet US Air and Small Packet 
        International Air.  I promise to get things out as quick as I can and I ship packages weekly - it's always exciting waiting for
        packages to arrive in the mail. Please keep in mind that I am one person behind this business and while I try my absolute hardest 
        to get things out on time, sometimes things can be delayed due to life, but very rarely!
        <br><br>
        There are options to have your package TRACKED - this is not included in the cheapest shipping option - that is why it's so cheap. 
        If you do not select the option to have it tracked, you will NOT receive a tracking number. If you are international and you choose 
        SURFACE it will be sent via SHIPPING CARGO on a boat across the ocean - that is why the estimated time frame is 2-3 months. (This option 
        is available because sometimes people can wait.)
        <br>
        Please ensure that all information is filled in correctly - I ship to the address provided on your order. 
        <br><br>
        <b>FOB - O:</b>
        <br><br>
        The purchaser pays the shipping cost from the factory or warehouse and gains ownership of the goods as soon as it leaves its point of
        origin. Once the package(s) has shipped I am no longer legally responsible for lost or damaged shipments. If you should experience either 
        of the previously mentioned please contact your postal service to file a claim before contacting me.
        <br>
        After receipt by Canada Post, I cannot assume any responsibility for any lost or stolen packages. 
        <br><br>
        I ship internationally. However, I am not responsible for any customs fees you may have to pay if you are outside Canada, to release your
        item from customs. We have zero control over customs fees. This price can range due to the region you live in. Shipping fees are 
        non-refundable should the package be refused for any reason.
        <br><br>
        <b>SHIPPING OPTIONS</b>
        <br><br>
        Domestic:
        <br><br>
        Expedited Parcel <br>
        Priority <br>
        Xpresspost <br>
        <br><br>
        USA:
        <br><br>
        Expedited Parcel USA <br>
        Small Packet USA Air   *NOT TRACKED* <br>
        Tracked Packet USA <br>
        Xpresspost USA <br>
        <br>
        International: <br><br>

        International Parcel Air    *NOT TRACKED* <br>
        Small Packet International Air    *NOT TRACKED* <br>
        Tracked Packet International <br>
        Xpresspost International <br>
        </p>
</div>
<br><br>
{% include 'footer.html' %}

 {% endblock %}